# ----------------------------------------------------------------------------
# From: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# ----------------------------------------------------------------------------

# General
.DS_Store


# ----------------------------------------------------------------------------
# From: https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
# ----------------------------------------------------------------------------

# Swap
*.swp
